mixin modal__reviews()
  section.modal.modal__reviews(id="modal__reviews")
    .modal__content
      button.close

      .form.wpcf7
        p.form__title Заказать звонок

        form.wpcf7-form
          .form__item
            span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-user")

          .form__item
            span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-phone")

          .form__item.form__item--submit
            .btn__wrap
              input.wpcf7-form-control.wpcf7-submit.btn.btn--red(type='submit', value='Заказать звонок')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal

mixin modal__job()
  section.modal.modal__job(id="modal__job")
    .modal__content
      button.close

      .form.wpcf7
        p.form__title Оставьте свои контакты

        form.wpcf7-form
          .form__item
            span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-user")

          .form__item
            span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-phone")

          .form__item
            span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
              i.input-icon
                svg.icon
                  use(xlink:href='img/svg/sprite.svg#icon-email')

          .form__item
            span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
              label(for="your-msg")
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-msg")

                span Сообщение

              textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="")

          .form__item
            span.wpcf7-form-control-wrap.your-file
              label(tabindex="0")
                input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                span.sl Прикрепить резюме

          .form__item.form__item--submit
            .btn__wrap
              input.wpcf7-form-control.wpcf7-submit.btn.btn--red(type='submit', value='Отправить')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal
