mixin page-top()

  button.page-top__show Каталог

  .page-top
    button.burger.active#page-top-burger
      span.burger__wrap
        span.line

    ul.menu
      li.menu-item.menu-item-has-children
        a(href="#") сладости
        span.arrow
        ul.sub-menu
          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Батончики Ulker

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Джезерье

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Жевательный мармелад

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-4.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Пахлава

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-5.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Фасовка

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-6.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Ореховые пасты

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-7.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Мед и варенье

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-8.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Рахат-лукум

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-9.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Орехи и сухофрукты в шоколаде

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-10.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Парварда

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-11.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Пекмезы

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-12.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Халва

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-13.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Чурчхелла

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-14.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Щербет, пастила

      li.menu-item
        a(href="#") бакалея
      li.menu-item.menu-item-has-children
        a(href="#") напитки
        span.arrow
        ul.sub-menu
          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Батончики Ulker

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Джезерье

          li.menu-item
            a(href="#")
              i
                img(src="img/menu/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
              span  Жевательный мармелад
      li.menu-item
        a(href="#") посуда
      li.menu-item
        a(href="#") кофе и чай
      li.menu-item
        a(href="#") идеи для подарков
      li.menu-item
        a(href="#") турецкие продукты
      li.menu-item
        a(href="#") наше производство


  // /.page-top
