mixin scr1()
  section.scr1(id="scr1")
    .container
      +page-top

      .scr1__df
        ul.scr1__feat
          li
            .scr1__feat-item
              .scr1__feat-df
                .scr1__feat-img
                  noscript
                    img.lazy(src="img/flag.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/flag.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .scr1__feat-text
                  strong Эксклюзивно в Крыму импортируем товары турецких брендов:
                  |  Ulker, Pinar, Koska, Helis, Bebeto, Filiz

          li
            .scr1__feat-item
              .scr1__feat-df
                .scr1__feat-img
                  noscript
                    img.lazy(src="img/flag.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/auto.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .scr1__feat-text
                  strong Бесплатно доставляем по России
                  |  Отправляем уже на следующий день после заказа

          li
            .scr1__feat-item
              ul.scr1__feat-nums
                li
                  .scr1__feat-text
                    span.scr1__feat-num 8
                    |  лет

                  .scr1__feat-desc
                    p производим
                      br
                      |  сладости

                li
                  .scr1__feat-text
                    span.scr1__feat-num 600
                    |  кв.м

                  .scr1__feat-desc
                    p самый большой
                      br
                      |  магазин-склад
                      br
                      |  в Крыму

                li
                  .scr1__feat-text
                    span.scr1__feat-num 2000
                    small +

                  .scr1__feat-desc
                    p позиций
                      br
                      |  в ассортименте


        .scr1__slider-wrap
          .scr1__slider#scr1__slider
            .swiper-wrapper
              .swiper-slide.scr1__slide
                .scr1__item
                  .scr1__bg
                    noscript
                      img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .scr1__content
                    .scr1__title
                      p
                        strong Специальные
                          span.accent  условия
                          |  сотрудничества
                        br
                        |  для индивидуальных предпринимателей
                        br
                        |  и юридических лиц!

                    .scr1__desc
                      p
                        strong Порадуйте Ваших покупателей сладостями
                          br
                          span.accent  высокого качества с доступной цене.
                          br
                          |  Вы получите постоянные продажи и высокий интерес покупателей.

                    .scr1__btns
                      .btn__wrap
                        a.btn.btn--red(href="#") Узнать об условиях


          .scr1__slider-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next





  // /.scr1
