mixin scr_brands()
  section.scr_brands.brands.grey-bg(id="scr_brands")
    .container
      h2.title Наши бренды

      .brands__wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide.brands__slide
              .brands__item
                noscript
                  img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.brands__slide
              .brands__item
                noscript
                  img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.brands__slide
              .brands__item
                noscript
                  img.lazy(src="img-temp/partners/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.brands__slide
              .brands__item
                noscript
                  img.lazy(src="img-temp/partners/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.brands__slide
              .brands__item
                noscript
                  img.lazy(src="img-temp/partners/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)



        .brands__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_brands
