mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      +page-top

      h1.title--second Новости

      ul.blog__list
        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему? Разбираемся в этом вопросе

              .article
                p Кто, как не друзья и знакомые могут подсказать, что и где вкусное появилось из новинок...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему?

              .article
                p Кто, как не друзья и знакомые могут подсказать

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему?

              .article
                p Кто, как не друзья и знакомые могут подсказать

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему?

              .article
                p Кто, как не друзья и знакомые могут подсказать

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему?

              .article
                p Кто, как не друзья и знакомые могут подсказать
        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему? Разбираемся в этом вопросе

              .article
                p Кто, как не друзья и знакомые могут подсказать, что и где вкусное появилось из новинок...
        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему? Разбираемся в этом вопросе

              .article
                p Кто, как не друзья и знакомые могут подсказать, что и где вкусное появилось из новинок...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему?

              .article
                p Кто, как не друзья и знакомые могут подсказать

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Какие сладости популярны и почему?

              .article
                p Кто, как не друзья и знакомые могут подсказать

      +paginator

  // /.scr_blog
