mixin scr_categories()
  section.scr_categories.categories(id="scr_categories")
    .container
      h2.title Предлагаем более
        span.accent  2 000 качественных товаров
        |  оптом и в розницу

      //. У первого и второго элемента categories__img с выравниванием top right, а у остальных bottom center
      ul.categories__list
        li.cat-1
          .categories__item.categories__item--with-menu

            .categories__img(style="background: #efeeed url('img/categories/img-1.jpg') no-repeat top right;background-size: cover;")


            h3.categories__title Сладости

            .categories__df
              .categories__col
                ul.menu
                  li.menu-item
                    a(href="#") Батончики Ulker
                  li.menu-item
                    a(href="#") Джезерье
                  li.menu-item
                    a(href="#") Жевательный мармелад
                  li.menu-item
                    a(href="#") Пахлава
                  li.menu-item
                    a(href="#") Фасовка
                  li.menu-item
                    a(href="#") Рахат-лукум
                  li.menu-item
                    a(href="#") Мёд и варенье

              .categories__col
                ul.menu
                  li.menu-item
                    a(href="#") Парварда
                  li.menu-item
                    a(href="#") Пекмезы
                  li.menu-item
                    a(href="#") Халва
                  li.menu-item
                    a(href="#") Чурчхелла
                  li.menu-item
                    a(href="#") Щербет, пастила, мармелад
                  li.menu-item
                    a(href="#") Ореховые пасты
                  li.menu-item
                    a(href="#") Орехи и сухофрукты в шоколаде

        li.cat-2
          .categories__item.categories__item--with-menu.categories__item--small

            .categories__img(style="background: #efeeed url('img/categories/img-2.jpg') no-repeat top right;background-size: cover;")


            .categories__df
              .categories__col
                h3.categories__title Бакалея

                ul.menu
                  li.menu-item
                    a(href="#") Оливковое масло,
                      br
                      |  маслины и оливки
                  li.menu-item
                    a(href="#") Специи и пряности

              .categories__col
                ul.menu
                  li.menu-item
                    a(href="#") Соусы
                  li.menu-item
                    a(href="#") Паста
                  li.menu-item
                    a(href="#") Томаты
                  li.menu-item
                    a(href="#") Артишоки


        li.cat-3
          .categories__item.categories__item--with-menu.categories__item--small

            .categories__img(style="background: #efeeed url('img/categories/img-3.jpg') no-repeat top right;background-size: cover;")

            h3.categories__title Напитки

            ul.menu
              li.menu-item
                a(href="#") Бальзамы
              li.menu-item
                a(href="#") Напитки

        li.cat-4
          a.categories__item.categories__item--with-menu.categories__item--small(href="#")

            .categories__img(style="background: #efeeed url('img/categories/img-4.jpg') no-repeat top right;background-size: cover;")

            h3.categories__title Посуда

        li.cat-5
          a.categories__item(href="#")

            .categories__img(style="background: #efeeed url('img/categories/img-5.jpg') no-repeat top right;background-size: cover;")

            h3.categories__title Кофе и чай

        li.cat-6
          a.categories__item(href="#")

            .categories__img(style="background: #efeeed url('img/categories/img-6.jpg') no-repeat top right;background-size: cover;")

            h3.categories__title Идеи для подарков

        li.cat-7
          a.categories__item(href="#")

            .categories__img(style="background: #efeeed url('img/categories/img-7.jpg') no-repeat top right;background-size: cover;")

            h3.categories__title Турецкие продукты

        li.cat-8
          a.categories__item(href="#")

            .categories__img(style="background: #efeeed url('img/categories/img-8.jpg') no-repeat top right;background-size: cover;")

            h3.categories__title Наше производство


  // /.scr_categories
