mixin scr_jobs()
  section.scr_jobs.jobs(id="scr_jobs")
    .container
      h1.title--second Вакансии

      ul.jobs__list
        li.jobs__item
          .jobs__top
            .jobs__left
              .jobs__left-top
                h2 Специалист по логистике
                p Симферополь, улица Автомобилистов, 2

              span.jobs__link Подробнее

            .jobs__right
              b от 43 600 руб. на руки
              button.open

          .jobs__hidden
            .article
              p
                b Требуемый опыт работы:
                |  не требуется
                br
                |  Полная занятость, полный день

              div
                h3 Обязанности:
                ul
                  li Координация водителей, подготовка маршрутных листов, разработка оптимальных маршрутов развозки
                  li Поиск запасных вариантов логистики товара при необходимости
                  li Поиск стороннего транспорта для доставки товара при необходимости, взаимодействие с логистическими компаниями, мониторинг рынка грузоперевозок
                  li ведение документооборота

              div
                h3 Требования:
                ul
                  li Знание рынка грузоперевозок.
                  li Знание документооборота между заказчиком и транспортной компанией.
                  li Знание 1С (будет Вашим преимуществом)
                  li Знание основ организации перевозок из расчета себестоимости.
                  li Хорошие организаторские способности.

              div
                h3 Условия:​​​​​​​
                ul
                  li График работы и заработная плата:
                    br
                    |  пятидневка с 08:00 до 18:00 (две рабочие субботы в месяц)
                  li Основной оклад 43 600 руб. Оклад на испытательном сроке 35 000 рублей. Если есть переработки — все оплачивается дополнительно!
                  li Возможность в дальнейшем при желании попробовать себя на других должностях в нашей компании
                  li Удобное расположение места работы - 1 минута ходьбы от конечной остановки - маршрутки Луговая. Есть собственная парковка.
                  li Молодой дружный коллектив

            .jobs__btns
              .btn__wrap
                a.btn.btn--red.open-modal(href="#modal__job") Откликнуться
        li.jobs__item
          .jobs__top
            .jobs__left
              .jobs__left-top
                h2 Специалист по логистике
                p Симферополь, улица Автомобилистов, 2

              span.jobs__link Подробнее

            .jobs__right
              b от 43 600 руб. на руки
              button.open

          .jobs__hidden
            .article
              p
                b Требуемый опыт работы:
                |  не требуется
                br
                |  Полная занятость, полный день

              div
                h3 Обязанности:
                ul
                  li Координация водителей, подготовка маршрутных листов, разработка оптимальных маршрутов развозки
                  li Поиск запасных вариантов логистики товара при необходимости
                  li Поиск стороннего транспорта для доставки товара при необходимости, взаимодействие с логистическими компаниями, мониторинг рынка грузоперевозок
                  li ведение документооборота

              div
                h3 Требования:
                ul
                  li Знание рынка грузоперевозок.
                  li Знание документооборота между заказчиком и транспортной компанией.
                  li Знание 1С (будет Вашим преимуществом)
                  li Знание основ организации перевозок из расчета себестоимости.
                  li Хорошие организаторские способности.

              div
                h3 Условия:​​​​​​​
                ul
                  li График работы и заработная плата:
                    br
                    |  пятидневка с 08:00 до 18:00 (две рабочие субботы в месяц)
                  li Основной оклад 43 600 руб. Оклад на испытательном сроке 35 000 рублей. Если есть переработки — все оплачивается дополнительно!
                  li Возможность в дальнейшем при желании попробовать себя на других должностях в нашей компании
                  li Удобное расположение места работы - 1 минута ходьбы от конечной остановки - маршрутки Луговая. Есть собственная парковка.
                  li Молодой дружный коллектив

            .jobs__btns
              .btn__wrap
                a.btn.btn--red.open-modal(href="#modal__job") Откликнуться
        li.jobs__item
          .jobs__top
            .jobs__left
              .jobs__left-top
                h2 Специалист по логистике
                p Симферополь, улица Автомобилистов, 2

              span.jobs__link Подробнее

            .jobs__right
              b от 43 600 руб. на руки
              button.open

          .jobs__hidden
            .article
              p
                b Требуемый опыт работы:
                |  не требуется
                br
                |  Полная занятость, полный день

              div
                h3 Обязанности:
                ul
                  li Координация водителей, подготовка маршрутных листов, разработка оптимальных маршрутов развозки
                  li Поиск запасных вариантов логистики товара при необходимости
                  li Поиск стороннего транспорта для доставки товара при необходимости, взаимодействие с логистическими компаниями, мониторинг рынка грузоперевозок
                  li ведение документооборота

              div
                h3 Требования:
                ul
                  li Знание рынка грузоперевозок.
                  li Знание документооборота между заказчиком и транспортной компанией.
                  li Знание 1С (будет Вашим преимуществом)
                  li Знание основ организации перевозок из расчета себестоимости.
                  li Хорошие организаторские способности.

              div
                h3 Условия:​​​​​​​
                ul
                  li График работы и заработная плата:
                    br
                    |  пятидневка с 08:00 до 18:00 (две рабочие субботы в месяц)
                  li Основной оклад 43 600 руб. Оклад на испытательном сроке 35 000 рублей. Если есть переработки — все оплачивается дополнительно!
                  li Возможность в дальнейшем при желании попробовать себя на других должностях в нашей компании
                  li Удобное расположение места работы - 1 минута ходьбы от конечной остановки - маршрутки Луговая. Есть собственная парковка.
                  li Молодой дружный коллектив

            .jobs__btns
              .btn__wrap
                a.btn.btn--red.open-modal(href="#modal__job") Откликнуться
        li.jobs__item
          .jobs__top
            .jobs__left
              .jobs__left-top
                h2 Специалист по логистике
                p Симферополь, улица Автомобилистов, 2

              span.jobs__link Подробнее

            .jobs__right
              b от 43 600 руб. на руки
              button.open

          .jobs__hidden
            .article
              p
                b Требуемый опыт работы:
                |  не требуется
                br
                |  Полная занятость, полный день

              div
                h3 Обязанности:
                ul
                  li Координация водителей, подготовка маршрутных листов, разработка оптимальных маршрутов развозки
                  li Поиск запасных вариантов логистики товара при необходимости
                  li Поиск стороннего транспорта для доставки товара при необходимости, взаимодействие с логистическими компаниями, мониторинг рынка грузоперевозок
                  li ведение документооборота

              div
                h3 Требования:
                ul
                  li Знание рынка грузоперевозок.
                  li Знание документооборота между заказчиком и транспортной компанией.
                  li Знание 1С (будет Вашим преимуществом)
                  li Знание основ организации перевозок из расчета себестоимости.
                  li Хорошие организаторские способности.

              div
                h3 Условия:​​​​​​​
                ul
                  li График работы и заработная плата:
                    br
                    |  пятидневка с 08:00 до 18:00 (две рабочие субботы в месяц)
                  li Основной оклад 43 600 руб. Оклад на испытательном сроке 35 000 рублей. Если есть переработки — все оплачивается дополнительно!
                  li Возможность в дальнейшем при желании попробовать себя на других должностях в нашей компании
                  li Удобное расположение места работы - 1 минута ходьбы от конечной остановки - маршрутки Луговая. Есть собственная парковка.
                  li Молодой дружный коллектив

            .jobs__btns
              .btn__wrap
                a.btn.btn--red.open-modal(href="#modal__job") Откликнуться
        li.jobs__item
          .jobs__top
            .jobs__left
              .jobs__left-top
                h2 Специалист по логистике
                p Симферополь, улица Автомобилистов, 2

              span.jobs__link Подробнее

            .jobs__right
              b от 40 600 руб. на руки
              button.open

          .jobs__hidden
            .article
              p
                b Требуемый опыт работы:
                |  не требуется
                br
                |  Полная занятость, полный день

              div
                h3 Обязанности:
                ul
                  li Координация водителей, подготовка маршрутных листов, разработка оптимальных маршрутов развозки
                  li Поиск запасных вариантов логистики товара при необходимости
                  li Поиск стороннего транспорта для доставки товара при необходимости, взаимодействие с логистическими компаниями, мониторинг рынка грузоперевозок
                  li ведение документооборота

              div
                h3 Требования:
                ul
                  li Знание рынка грузоперевозок.
                  li Знание документооборота между заказчиком и транспортной компанией.
                  li Знание 1С (будет Вашим преимуществом)
                  li Знание основ организации перевозок из расчета себестоимости.
                  li Хорошие организаторские способности.

              div
                h3 Условия:​​​​​​​
                ul
                  li График работы и заработная плата:
                    br
                    |  пятидневка с 08:00 до 18:00 (две рабочие субботы в месяц)
                  li Основной оклад 43 600 руб. Оклад на испытательном сроке 35 000 рублей. Если есть переработки — все оплачивается дополнительно!
                  li Возможность в дальнейшем при желании попробовать себя на других должностях в нашей компании
                  li Удобное расположение места работы - 1 минута ходьбы от конечной остановки - маршрутки Луговая. Есть собственная парковка.
                  li Молодой дружный коллектив

            .jobs__btns
              .btn__wrap
                a.btn.btn--red.open-modal(href="#modal__job") Откликнуться

  // /.scr_jobs
