mixin scr_mags()
  section.scr_mags.mags(id="scr_mags")
    .container
      h2.title
        span.accent Поставляем нашу продукцию
        |  в ведущие крымские ТЦ и магазины

      .mags__wrap
        .mags__slider#mags__slider
          .swiper-wrapper
            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-6.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-6.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-6.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-6.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide.mags__slide
              .mags__item
                noscript
                  img.lazy(src="img-temp/mags/img-6.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mags/img-6.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .mags__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_mags
