mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +page-top
      +breadcrumbs--post
      h1.title--second Восточные сладости султанов, героев сказок и романов

      .article.clearfix
        img.alignleft(src="img-temp/post-img.jpg" alt="")

        ul.with-ticks
          li Восточные сладости - путь к долголетию
          li Способствуют улучшению работы сердца, мозга
          li Способствует усилению иммунитета
          li Без красителей и консервантов

        blockquote.with-img
          span.with-img__img
            noscript
              img.lazy(src="img-temp/post-girl.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-girl.jpg" alt="" width="125" height="90" data-object-fit-cover)

          span.with-img__name
            p
              strong Валентина Петровна
              br
              |  Профессиональный кондитер
          span.with-img__text
            p Восточные сладости – это песня, едят их в небольшом количестве, а потому они очень насыщены – много орехов, меда, фруктового сиропа... Но все чрезвычайно вкусно и полезно.

        p Можно закрыть глаза, открыть рот, откусить маленький кусочек и сразу становится понятно, что пробуешь восточную сладость. Это особенное, изысканное, ни на что не похожее удовольствие. И вот уже кажется, что ты сидишь в красивом дворце на мягких подушках, слушаешь удивительные восточные сказки, а рядом золотистым боком поблескивает волшебная лампа Аладдина...

        p Искушенные люди Востока знают, как порадовать все пять чувств, поэтому неудивительно, что трапеза для них – настоящий ритуал. И особенное значение придается сладостям, которые принято не просто есть, а наслаждаться каждой секундой этого удовольствия.


        .post__also
          span.post__also-read
            i
            |  Читайте также

        p Восточные мужчины не любят излишне стройных дам. Есть такая арабская пословица: «Полнота – половина красоты». Поэтому восточные красавицы могут спокойно наслаждаться сладостями – им они только на пользу.

        p По веками проверенному стандарту восточная красавица должна иметь легкую небесную верхнюю часть тела и основательный, абсолютно земной низ. Изгиб бедра – прекрасная линия, так что лакомиться сладеньким красоткам из гарема было не страшно. А вот европейским девушкам сильно увлекаться восточными десертами не советуем, поскольку кто-то, объедаясь ими, попадает в сказку, а кто-то – на диету.

        ol
          li Восточные сладости – обобщенное название кондитерских изделий стран Востока. Это мягкие и твердые конфеты, а также самые разные мучные изделия, которые готовят по рецептам турецкой, среднеазиатской, закавказской кухни. Больше всего восточных сладостей производится в Турции, Иране, Афганистане и Узбекистане.
          li Для приготовления почти всех восточных сладостей, как правило, используется большое количество меда или сахара. Тесто для большинства мучных изделий замешивают на молоке, сливках, сметане, сливочном масле с добавлением яиц, сахара, корицы и ванилина.

        blockqoute.with-bg
          span
            p Восточные сладости типа мягких конфет делают в основном из сахарного или медового сиропа, взбитого с яичными белками, с добавлением орехов, цукатов, пряностей и других продуктов, а также из ореховой и подсолнечной массы. Такие сладости обладают мягкой кристаллической консистенцией.

        p Кондитерские изделия:
        ul
          li типа карамели: козинаки, грильяж;
          li изделия из сахара: кристаллический сахар, нишалло (сахарная «вермишель»), ногул (аморфный сахар с пряностями).

        p К группе восточных мучных сладостей относятся изделия, изготовленные из муки с добавлением сахара, жира, орехов, сухих фруктов, пряностей и других видов сырья.

        p К восточным сладостям типа мягких конфет относятся изделия, изготовленные из сахара с добавлением или без добавления патоки, сбитых белков или крахмала, с применением различных видов сырья, вкусовых или ароматических веществ.

        p К восточным сладостям типа карамели относятся изделия, изготовленные на основе полуфабрикатов карамельного производства с различными добавлениями, а также изделия на основе ядер орехов или ядер косточковых плодов, обсыпанных сахаром или солью.

  // /.scr_post
