mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      +page-top


      h1.title--second Контакты

      .contacts__df
        .contacts__info.decor-wrap
          h2.title Симферополь

          .contacts__item
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-phone")

            p
              a(href="tel:88002228353" rel="nofollow") 8 (800) 222 83 53
              a(href="tel:89781003269" rel="nofollow") 8 (978) 100 32 69

          .contacts__item
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-pin")

            p Склад-магазин
              br
              |  г. Симферополь ул. Автомобилистов 2

          .contacts__item
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-clock")

            p Время работы:
              br
              |  Пн-Сб с 9-00 до 18-00


        .contacts__form.decor-wrap
          .form.wpcf7
            p.form__title Обратная связь

            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-phone")

              .form__wrap
                .form__item
                  span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
                    label(for="your-msg")
                      i.input-icon
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-msg")

                      span Сообщение

                    textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="")

                .form__item.form__item--download
                  label.your-file__label(tabindex='0')
                    span.wpcf7-form-control-wrap.your-file
                      input.wpcf7-form-control.wpcf7-file.wpcf7-validates-as-required.wpcf7-resume(type='file', name='your-resume', size='40', accept='.jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv', aria-required='true', aria-invalid='false')
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-download")


              .form__item.form__item--submit
                .btn__wrap
                  input.wpcf7-form-control.wpcf7-submit.btn.btn--red(type='submit', value='Оставить заявку')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon


      .contacts__team
        .contacts__team-wrap
          .contacts__team-slider#contacts__team-slider
            .swiper-wrapper
              .swiper-slide.contacts__team-slide
                .contacts__team-item
                  .contacts__team-img
                    noscript
                      img.lazy(src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .contacts__team-content
                    p
                      strong Иванов Александр
                      br
                      |  менеджер по продажам
                      br
                      |  г. Симферополь
                      br
                      a(href="+79787358959" rel="nofollow") +7 (978) 735-89-59

              .swiper-slide.contacts__team-slide
                .contacts__team-item
                  .contacts__team-img
                    noscript
                      img.lazy(src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .contacts__team-content
                    p
                      strong Иванов Александр
                      br
                      |  менеджер по продажам
                      br
                      |  г. Симферополь
                      br
                      a(href="+79787358959" rel="nofollow") +7 (978) 735-89-59

              .swiper-slide.contacts__team-slide
                .contacts__team-item
                  .contacts__team-img
                    noscript
                      img.lazy(src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .contacts__team-content
                    p
                      strong Иванов Александр
                      br
                      |  менеджер по продажам
                      br
                      |  г. Симферополь
                      br
                      a(href="+79787358959" rel="nofollow") +7 (978) 735-89-59

              .swiper-slide.contacts__team-slide
                .contacts__team-item
                  .contacts__team-img
                    noscript
                      img.lazy(src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .contacts__team-content
                    p
                      strong Иванов Александр
                      br
                      |  менеджер по продажам
                      br
                      |  г. Симферополь
                      br
                      a(href="+79787358959" rel="nofollow") +7 (978) 735-89-59

              .swiper-slide.contacts__team-slide
                .contacts__team-item
                  .contacts__team-img
                    noscript
                      img.lazy(src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .contacts__team-content
                    p
                      strong Иванов Александр
                      br
                      |  менеджер по продажам
                      br
                      |  г. Симферополь
                      br
                      a(href="+79787358959" rel="nofollow") +7 (978) 735-89-59

              .swiper-slide.contacts__team-slide
                .contacts__team-item
                  .contacts__team-img
                    noscript
                      img.lazy(src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .contacts__team-content
                    p
                      strong Иванов Александр
                      br
                      |  менеджер по продажам
                      br
                      |  г. Симферополь
                      br
                      a(href="+79787358959" rel="nofollow") +7 (978) 735-89-59


          .contacts__team-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

    +scr_about
    +scr_map

  // /.scr_contacts
