mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      h2.title Успейте приобрести акционные товары
        span.accent  по супер цене

      .prod__wrap#prod__wrap
        .prod__slider#prod__slider
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_prod


mixin scr_prod--hit()
  section.scr_prod.prod.prod--hit(id="scr_prod2")
    .container
      h2.title
        span.accent Топ самых покупаемых
        |  товаров по категориям

      ul.prod__types
        li.current
          a(href="#") Сладости
        li
          a(href="#") Бакалея
        li
          a(href="#") Кофе и чай
        li
          a(href="#") Напитки
        li
          a(href="#") Посуда
        li
          a(href="#") Идеи для подарков
        li
          a(href="#") Турецкие продукты
        li
          a(href="#") Наше производство

      .prod__wrap.prod__wrap--one-row#prod__wrap--hit
        .prod__slider.prod__slider--one-row#prod__slider--hit
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_prod

mixin scr_prod--page()
  section.scr_prod.prod.prod--page(id="scr_prod")
    .container
      +page-top

      .prod__nav
        h1.title--second.mobile Сладости
        button.prod__nav-btn


      ul.prod__submenu
        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Батончики Ulker

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Джезерье

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Жевательный мармелад

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-4.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Пахлава

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-5.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Фасовка

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-6.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Ореховые пасты

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-7.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Мед и варенье

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-8.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Рахат-лукум

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-9.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Орехи и сухофрукты в шоколаде

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-10.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Парварда

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-11.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Пекмезы

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-12.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Халва

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-13.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Чурчхелла

        li.menu-item
          a(href="#")
            i
              img(src="img/menu/img-14.png" alt="" width="125" height="90" data-object-fit-contain)
            span  Щербет, пастила


      .prod__sort
        .prod__sort-item
          span.prod__sort-text Отображать на странице

          .show-items
            button.show-items-arrow.show-items-arrow-minus(type='button')
            input.show-items-num(type='number', value='12')
            button.show-items-arrow.show-items-arrow-plus(type='button')


        .prod__sort-item
          span.prod__sort-text Сортировка:

          select.nice-select
            option(value="") По цене
            option(value="") По дате

      .prod__list
        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--hit Хит

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»
                  br
                  |  инжир-грецкий орех
                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить


        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--action Акция

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»

                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить

        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--hit Хит

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»
                  br
                  |  инжир-грецкий орех
                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить


        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--action Акция

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»

                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить

        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--hit Хит

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»
                  br
                  |  инжир-грецкий орех
                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить


        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--action Акция

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»

                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить

        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--hit Хит

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»
                  br
                  |  инжир-грецкий орех
                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить


        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--action Акция

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»

                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить

        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--hit Хит

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»
                  br
                  |  инжир-грецкий орех
                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить


        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--action Акция

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»

                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить

        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--hit Хит

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»
                  br
                  |  инжир-грецкий орех
                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить


        li
          .prod__item
            .prod__top
              span.prod__label.prod__label--action Акция

              .prod__btns
                button.prod__btn(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-heart")

            a.prod__img(href="#")
              noscript
                img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

              span.prod__watch Быстрый просмотр

            .prod__main
              .prod__content
                ul.prod__categor
                  li.prod__categor-item.prod__categor-item--cat1 Сладости
                  li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                h3.prod__title Джезерье «Атом»

                .prod__weight
                  p 1,5 кг

              .prod__bottom
                .prod__prices
                  span.prod__price.prod__price--old 1 300 ₽
                  span.prod__price.prod__price--new 1 218 ₽

                .prod__quantity
                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') —
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .prod__link
                  .btn__wrap
                    a.btn.btn--red(href="#") Купить


      +paginator


      ul.scr1__feat
        li
          .scr1__feat-item
            .scr1__feat-df
              .scr1__feat-img
                noscript
                  img.lazy(src="img/flag.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/flag.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__feat-text
                strong Эксклюзивно в Крыму импортируем товары турецких брендов:
                |  Ulker, Pinar, Koska, Helis, Bebeto, Filiz

        li
          .scr1__feat-item
            .scr1__feat-df
              .scr1__feat-img
                noscript
                  img.lazy(src="img/flag.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/auto.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__feat-text
                strong Бесплатно доставляем по России
                |  Отправляем уже на следующий день после заказа

        li
          .scr1__feat-item
            ul.scr1__feat-nums
              li
                .scr1__feat-text
                  span.scr1__feat-num 8
                  |  лет

                .scr1__feat-desc
                  p производим
                    br
                    |  сладости

              li
                .scr1__feat-text
                  span.scr1__feat-num 600
                  |  кв.м

                .scr1__feat-desc
                  p самый большой магазин-
                    br
                    |  склад в Крыму

              li
                .scr1__feat-text
                  span.scr1__feat-num 2000
                  small +

                .scr1__feat-desc
                  p позиций
                    br
                    |  в ассортименте


      .prod__more.show-more__wrap
        .show-more__content
          .article
            p SEO текст «Восточный букет» (Крымский дом сладостей) предлагает Вам высококачественные КРЫМСКИЕ СЛАДОСТИ, СПЕЦИИ и ТРАВЯНЫЕ ЧАИ — с настоящим крымским духом и вкусом! Такие подарки, купленные для себя или близких, точно никого не оставят в стороне. Они наполнены одновременно эксклюзивностью, красотой, и служат отличным дополнением к Вашему столу!
            p SEO текст «Восточный букет» (Крымский дом сладостей) предлагает Вам высококачественные КРЫМСКИЕ СЛАДОСТИ, СПЕЦИИ и ТРАВЯНЫЕ ЧАИ — с настоящим крымским духом и вкусом! Такие подарки, купленные для себя или близких, точно никого не оставят в стороне. Они наполнены одновременно эксклюзивностью, красотой, и служат отличным дополнением к Вашему столу!
            p SEO текст «Восточный букет» (Крымский дом сладостей) предлагает Вам высококачественные КРЫМСКИЕ СЛАДОСТИ, СПЕЦИИ и ТРАВЯНЫЕ ЧАИ — с настоящим крымским духом и вкусом! Такие подарки, купленные для себя или близких, точно никого не оставят в стороне. Они наполнены одновременно эксклюзивностью, красотой, и служат отличным дополнением к Вашему столу!
            p SEO текст «Восточный букет» (Крымский дом сладостей) предлагает Вам высококачественные КРЫМСКИЕ СЛАДОСТИ, СПЕЦИИ и ТРАВЯНЫЕ ЧАИ — с настоящим крымским духом и вкусом! Такие подарки, купленные для себя или близких, точно никого не оставят в стороне. Они наполнены одновременно эксклюзивностью, красотой, и служат отличным дополнением к Вашему столу!

        .show-more__btns
          button(type="button")
            span Развернуть

  // /.scr_prod


mixin scr_prod--may()
  section.scr_prod.prod.prod--may(id="scr_prod")
    .container
      h2.title Вам может понравится

      .prod__wrap.prod__wrap--one-row#prod__wrap--hit
        .prod__slider.prod__slider--one-row#prod__slider--hit
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_prod

mixin scr_prod--familiar()
  section.scr_prod.prod.prod--familiar(id="scr_prod2")
    .container
      h2.title Похожие товары

      .prod__wrap.prod__wrap--one-row#prod__wrap--familiar
        .prod__slider.prod__slider--one-row#prod__slider--familiar
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости

                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_prod
