mixin scripts()
  script(src='js//libs/jquery.min.js')
  script(src='js/libs/jquery.lazyload.min.js')
  script(src='js/libs/wow.min.js')
  script(src='js/libs/jquery.maskedinput.min.js')
  script(src='js/libs/svg4everybody.min.js')
  script(src='js/libs/ofi.min.js')
  script(src='libs/fancybox/jquery.fancybox.pack.js')
  script(src='libs/fancybox/helpers/jquery.fancybox-buttons.js')
  script(src='libs/swiper/swiper.js')
  script(src='libs/nice-select/jquery.nice-select.min.js')
  script(src='libs/timer/countdown/jquery.countdown.js')

  script(src='js/common.js')

