mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk

  // /.socials
