doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title  |

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#363535')
    // Custom Browsers Color End

    include blocks/scripts.pug
    include blocks/script-map.pug
    include blocks/styles.pug
    include blocks/header.pug
    include blocks/modal.pug
    include blocks/page-top.pug

    include blocks/scr1.pug
    include blocks/scr_categories.pug
    include blocks/scr_brands.pug
    include blocks/scr_mags.pug
    include blocks/scr_about.pug
    include blocks/scr_map.pug
    include blocks/scr_prod.pug

    include blocks/footer.pug
    include blocks/socials.pug

  body

    +header("div")

    #page_wr.page_wr
      +scr1
      +scr_categories
      +scr_prod
      +scr_brands
      +scr_prod--hit
      +scr_mags
      +scr_about
      +scr_map

      a.to-top(href="#page_wr")
        i.fa.fa-angle-up

    +footer("div")

    +modal__reviews

    +styles
    +scripts
    +script-map
